.typo__logo--header {
  font-family: Roboto;
  font-size: 12px;
  color: #777777;
}

.typo__nav {
  font-family: Roboto;
  font-size: 16px;
  color: #1c1c1d;
}

.typo__logo--footer {
  font-family: Roboto;
  font-size: 12px;
  color: #b3b3b3;
}

.typo__hero__h2 {
  font-family: "Roboto Bold";
  font-size: 40px;
  color: white;
}

.typo__hero__span {
  font-family: "Roboto Light";
  font-size: 40px;
  color: white;
}

.typo__hero__a {
  font-family: "Roboto";
  font-size: 18px;
  color: #1c1c1d;
}

.typo__articles__h3 {
  font-family: "Roboto Bold";
  font-size: 11px;
  color: #1c1c1d;
}

.typo__articles__h2 {
  font-family: "Roboto Bold";
  font-size: 24px;
  color: #1c1c1d;
}

.typo__articles__date {
  font-family: "Roboto";
  font-size: 11px;
  color: #1c1c1d;
}

.typo__articles__p {
  font-family: "Roboto";
  font-size: 14px;
  color: #5f5f5F;
  line-height: calc(14px*1.5);
}

.typo__logo--footer {
  font-family: "Roboto";
  font-size: 16px;
  color: #b3b3b3;
  line-height: calc(12px*1.5);
}

.typo__footer__h2 {
  font-family: "Roboto Medium";
  font-size: 18px;
  color: white;
}

.typo__footer__p {
  font-family: "Roboto";
  font-size: 14px;
  color: white;
  line-height: calc(14px*1.5);
}

@media (min-width: 800px) {

  .typo__hero__h2 {
    font-size: 65px;
  }

  .typo__hero__span {
    font-size: 65px;
  }
}
