.typo__logo--header {
  font-family: Roboto;
  font-size: 12px;
  color: #777777;
}

.typo__nav {
  font-family: Roboto;
  font-size: 16px;
  color: #1c1c1d;
}

.typo__logo--footer {
  font-family: Roboto;
  font-size: 12px;
  color: #b3b3b3;
}

.typo__hero__h2 {
  font-family: "Roboto Bold";
  font-size: 65px;
  color: white;
}

