@mixin typo($font, $size, $color) {
  font-family: $font;
  font-size: $size;
  color: $color;
}

.typo__logo--header {
  @include typo('Roboto',12px,#777777);
}

.typo__nav {
  @include typo('Roboto',16px,#1c1c1d);
}

.typo__hero__h2 {
  @include typo('Roboto Bold',40px,white);
  text-shadow: -1px 1px 13px rgba(0,0,0,0.58);
}

.typo__hero__span {
  @include typo('Roboto Light',40px,white);
}

.typo__hero__a {
  @include typo('Roboto',18px,#1c1c1d);
}

.typo__articles__h3 {
  @include typo('Roboto Bold',11px,#1c1c1d);
}

.typo__articles__h2 {
  @include typo('Roboto Bold',24px,#1c1c1d);
}

.typo__articles__date {
  @include typo('Roboto',11px,#1c1c1d);
}

.typo__articles__p {
  @include typo('Roboto',14px,#5f5f5f);
  line-height: calc(14px * 1.5);
}

.typo__logo--footer {
  @include typo('Roboto',16px,#b3b3b3);
  line-height: calc(12px * 2);
}

.typo__footer__h2 {
  @include typo('Roboto Medium',18px,white);
}

.typo__footer__p {
  @include typo('Roboto',14px,white);
  line-height: calc(14px * 1.5);
}

@media (min-width: 800px) {
  .typo__hero__h2 {
    font-size: 65px;
  }

  .typo__hero__span {
    font-size: 65px;
  }
}
