// header {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   height: 132px;
//   width: 100%;
//   position: fixed;
//   top: 0;
//   .header__logo {
//     margin-left: 28px;

//     img {
//       margin-bottom: 10px;
//     }
//   }

//   .header__nav {
//     .header__nav__ul{
//       display: flex;
//       li {
//         margin-right: 28px;
//       }
//     }
//   }

//   @media (min-width: 1000px) {
    
//   }
// }

header {
  height: 132px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 2;

  i {
    font-size: 35px;
  }

  .header__logo {
    width: 100px;
    text-align: center;
    
    p{
      margin-top: 6px;
    }
  }

  .header__nav {

    .header__nav__ul {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100vh;
      left: -50%;
    }
  }

  @media (min-width: 800px) {
    justify-content: space-between;
    .fas.fa-bars {
      display: none;
    }

    i {
      font-size: 16px;
      margin-right: 40px;
    }

    .header__logo {
      margin-left: 40px;
      width: 200px;
      text-align: left;
    }

    .header__nav {
      display: flex;
      align-items: center;
      .header__nav__ul {
        position: static;
        top: auto;
        width: auto;
        height: auto;
        left: auto;
        display: flex;

        li {
          margin-right: 28px;
        }
      }
    }
  }
}