//--------Start sass for mobile--------//
header {
  height: 132px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 2;

  i {
    font-size: 35px;
  }

  .header__logo {
    width: 100px;
    text-align: center;

    p {
      margin-top: 6px;
    }
  }

  .header__nav {
    .header__nav__ul {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100vh;
      left: -50%;
    }
  }
//--------End sass for mobile--------//

//--------Start sass for desktop--------//
  @media (min-width: 1100px) {
    justify-content: space-between;
    .fas.fa-bars {
      display: none;
    }

    i {
      font-size: 16px;
      margin-right: 40px;
    }

    .header__logo {
      margin-left: 40px;
      width: 200px;
      text-align: left;
    }

    .header__nav {
      display: flex;
      align-items: center;
      .header__nav__ul {
        position: static;
        top: auto;
        width: auto;
        height: auto;
        left: auto;
        display: flex;

        li {
          margin-right: 28px;
        }
      }
    }
  }
//--------End sass for desktop--------//
}
