.hero {
  background: url('../img/hero_background.png') no-repeat;
  background-size: cover;
  height: calc(100vh - 132px);
  margin-top: 132px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 8vw
  }

  

  a {
    background-color: white;
    border-radius: 50px;
    padding: 15px 75px 15px 75px;
  }
}

