@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto_regular/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto_regular/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto_bold/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto_bold/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto_medium/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto_medium/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto_Light/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto_Light/Roboto-Light.woff") format("woff");
}
